.some-page-wrapper {
    margin: 15px;
    background-color: red;
  }
  
  .row-cat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column-cat {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .orange-column {
    background-image: url(img/categories-lefty-pride.jpeg);
    height: 100px;
  }

  .double-orange-column {
    background-image: url(img/categories-lefty-pride.jpeg);
    height: 100px;
    flex: 3;
  }
  
  
  .blue-column {
    background-color: blue;
    height: 100px;
  }
  
  .green-column {
    background-color: green;
    height: 100px;
  }