/* =============
    Community
============= */

#community {
    // border: 1px solid red;

    @include xl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". community .";
    }

    >div {
        // border: 1px solid red;

        display: grid;
        gap: 24px;

        @include md {
            grid-template-columns: 38vw auto;
            grid-template-areas: "img-1 text-1";
        }

        @include lg {
            // grid-template-columns: 50vw auto;
            grid-template-columns: repeat(2, 1fr);
        }

        @include xl{
            grid-area: community;
        }

        section {

            margin: 0 16px;

            @include md {
                grid-area: "img-1";
                display: flex;
                align-items: center;
            }

            >div {
                border-top: 3px $light-red;
                border-bottom: 3px $light-red;
                padding: 16px 0px;

                h1 {
                    font-weight: 300;
                    font-size: rem-calc(44);
                    color: $light-red;
                    text-decoration: underline;

                    @include md {
                        font-size: rem-calc(35);
                        line-height: rem-calc(35);
                        text-align: left;
                    }

                    @include xl {
                        font-size: rem-calc(40);
                    }
                }

                p {

                    @include md {
                        font-size: rem-calc(18);
                    }

                }
            }

        }

        aside {

            background-image: url("../img/lefty-joined.jpg");
            background-size: cover;
            background-position: center;
            height: 100vh;

            @include md {
                grid-area: img-1;
                height: 50vh;
            }

            @include lg {
                height: 80vh;
            }

            // img{
            //     width: 100%;
            // }
        }
    }
}