/* =============
    Community
============= */

#community {

    padding-top: 16px;
    padding-bottom: 16px;
    // border: 1px solid red;
    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". community .";
    }

    @include xl {
        grid-template-columns: auto 80px auto;
    }


    >div {

        @include md {
            grid-area: community;
        }

        h1 {
            font-weight: 300;
            font-size: rem-calc(44);
            color: $light-red;
            text-decoration: underline;

            @include md {
                // padding-top: 30%;
                font-size: rem-calc(60);
            }

            @include lg {
                // padding-top: 10%;
                font-size: rem-calc(80);
            }
        }

        p {
            color: $dark-red;
            font-weight: 200;
        }


        section {


            ul {
                display: grid;
                gap: 24px;
                // grid-template-rows: 70vh 70vh 70vh;
                grid-template-rows: 40vh 40vh;
                grid-template-columns: 40vh;
                grid-template-areas:
                "g1 g2"
                "g3 g3";

                @include md {
                    // grid-template-columns: 50vh auto;
                    grid-template-columns: 50% auto;
                    grid-template-rows: 50vh 50vh 25vh;
                    grid-template-areas:
                        "g1 g2"
                        "g3 g3";
                }

                @include xl {
                    grid-template-columns: 50% auto;
                    grid-template-rows: 35vh 35vh 35vh;
                    grid-template-areas:
                        "g1 g2"
                        "g3 g3";
                }

                li {
                    background-size: cover;
                    background-position: center;
                }

                #comm-1 {
                    background-image: url("../img/lefty-joined.jpg");
    
                    @include md {
                        background-position: bottom;
                        grid-area: g1;
                    }
                }
    
                #comm-2 {
                    background-image: url("../img/comm-left.jpg");
                    text-align: center;
    
                    @include md {
                        grid-area: g2;
                    }
                }
    
                #comm-3 {
    
                    @include md {
                        grid-area: g3;
                    }
                }
            }
        }
    }

}