/* =============
    Featured
============= */
#featured {

    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". featured .";
    }

    @include xl {
        grid-template-columns: auto 1440px auto;
    }


    >div {

        @include md {
            grid-area: featured;
        }

        h1 {
            font-weight: 300;
            font-size: rem-calc(44);
            color: $light-red;
            text-decoration: underline;

            @include md {
                // padding-top: 30%;
                font-size: rem-calc(60);
            }

            @include lg {
                // padding-top: 10%;
                font-size: rem-calc(80);
            }
        }


        section {


            ul {
                display: grid;
                gap: 24px;
                // grid-template-rows: 70vh 70vh 70vh;
                grid-template-rows: 40vh 0vh 0vh;
                grid-template-areas:
                    "g1";

                @include md {
                    // grid-template-columns: 50vh auto;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 70vh 35vh;
                    grid-template-areas:
                        "g1 g1"
                        "g2 g3";
                }

                @include xl {
                    grid-template-columns: 60% auto;
                    grid-template-rows: 35vh 35vh;
                    grid-template-areas:
                        "g1 g2"
                        "g1 g3";
                }

                li {


                    a:link,
                    a:visited {
                        background-size: cover;
                        background-position: center;
                        height: 100%;
                        width: 100%;
                        display: inline-block;
                    }
                }

                #featured-1 {
                    @include md {
                        background-position: bottom;
                        grid-area: g1;
                    }

                    a {
                        background-image: url("../img/featured-left.jpg");
                    }
                }

                #featured-2 {
                    @include md {
                        grid-area: g2;
                    }

                    a {
                        background-image: url("../img/featured-right.jpg");
                    }
                }

                #featured-3 {

                    @include md {
                        grid-area: g3;
                    }

                    a {
                        background-image: url("../img/featured-middle.png");
                    }
                .ribbon-highlight {
                        position: relative;
                        margin: 0.1em;
                        z-index: -1;
                        left: -0.5em;
                        top: 0.1em;
                        border-width: 0.5em;
                        border-style: solid;
                        border-color: $dark-red;
                        position: absolute;
                        width: 100%;
                        border-left-color: transparent;
                        border-right-color: transparent;
                    
                }
            }
        }
    }

}
}