
/* =============
    Hero
============= */

#hero{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    text-align: left;

    @include md{
        // height: 70vh;
    }

    @include lg{
        // height: 80vh;
    }

   div{
       height: 50vh;
      // border: 6px solid red;
    h1{
        font-weight: 300;
        font-size: rem-calc(44);
        color: $litegrey;
        padding-top: 25vh;
        padding-left: 10%;

        @include md{
            // padding-top: 30%;
            font-size: rem-calc(60);
        }

        @include lg{
            // padding-top: 10%;
            font-size: rem-calc(80);
        }
    }
}


body{
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

   .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #E09F3E;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: $black;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #E09F3E;
    background: #E09F3E;
    text-align: right;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 50%;
    position: absolute;
    top: 60%;
    left: 33%;
    transform: translate(-50%, -50%);
  }  
}           